body{
   /* background-image: url(./img/images2.jpeg);
    background-repeat:round;
    */
}


#principal{
    color:rgb(6, 230, 6);
    background-color:black;
}
#titulo{
    color:red
}
.texto_verde{
    color:green
}

#cm{
    background-color: blue;
    width:1cm;
    height:1cm;
}

#mm{
    background-color:red;
    width:5mm;
    height:10mm;
}
#in{
    background-color:blue;
    width:1in;
    height:1in;
}
#px{
    background-color:red;
    width:10px;
    height:10px;
}
#pt{
    background-color:blue;
    width:10pt;
    height:10pt;
}
#pc{
    background-color:red;
    width:10pc;
    height:10pc;
}


.container{
    font-size: 20px;
}
.inside{
    font-size: 1em;
}

#reta{
    background-color:red;
    height:10px;
}
#testemargin{
    background-color:blue;
    color: yellow;
    margin-top:10px;
    margin-right:20px;
    margin-bottom:10px;
}

#testepadding{
    background-color:red;
    color:greenyellow;
    padding:20px;
}

.borda{
    border-width:5px;
    border-style:solid;
    border-color:darkgreen red yellow darkturquoise;
    border-radius:15px;
    margin:10px;
}
.quadrado{
    width:200px;
    height:200px;
    background-color:darkorchid;
    border-radius:50%;
}